.vscode/
.DS_Store
.gradle/
.idea/
build/
out/
securify.ipr
securify.iws
__pycache__/

#always possible to recreate the file by running DSLPatternsCompiler.java
smt_files/CompiledPatterns.dl
smt_files/CompiledPatternsNames.csv
smt_files/finalTmpFile.dl

outDSL*
outNoDSL*
